

<div class="text-light">

  <h5>Ejercicio 2 - Ajedrez</h5>
  <p>2. Dado un tablero de ajedrez (8x8), se colocaran
    8 reinas en diferentes ubicaciones, se ocupa saber
    si las 8 reinas dentro del tablero ninguna esta
    "atacando" a otra reina.
    Para eso se hace uso de la regla de ajedrez que la
    reina puede moverse en diagonal, arriba, abajo,
    izquierda y derecha
    Elaborar un algoritmo que reciba los datos
    mencionados y que diga Si o No esta armado
    correctamente</p>



    <app-tablero></app-tablero>


</div>
