


<button type="button" class="btn btn-primary mb-5"  (click)="revisar()"   >Revisar</button>

<h1 *ngIf="sudokuIsvalid == true ">SI</h1>
<h1 *ngIf="sudokuIsvalid == false && mensaje != ''">NO</h1>
<p>{{mensaje}}</p>



<div class="row">

    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[0].casillas[0].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[0].casillas[1].valor"   >
    </div>
    <div class="col border-end">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[0].casillas[2].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[1].casillas[0].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[1].casillas[1].valor"   >
    </div>
    <div class="col border-end">
        <input class="form-control " type="number" [(ngModel)]="this.miSudoku.zonas[1].casillas[2].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[2].casillas[0].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[2].casillas[1].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[2].casillas[2].valor"   >
    </div>
    
</div>

<div class="row">

    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[0].casillas[3].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[0].casillas[4].valor"   >
    </div>
    <div class="col border-end">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[0].casillas[5].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[1].casillas[3].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[1].casillas[4].valor"   >
    </div>
    <div class="col border-end">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[1].casillas[5].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[2].casillas[3].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[2].casillas[4].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[2].casillas[5].valor"   >
    </div>
    
</div>

<div class="row border-bottom pb-2">

    <div class="col ">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[0].casillas[6].valor"   >
    </div>
    <div class="col ">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[0].casillas[7].valor"   >
    </div>
    <div class="col border-end ">
        <input class="form-control " type="number" [(ngModel)]="this.miSudoku.zonas[0].casillas[8].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[1].casillas[6].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[1].casillas[7].valor"   >
    </div>
    <div class="col border-end">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[1].casillas[8].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[2].casillas[6].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[2].casillas[7].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[2].casillas[8].valor"   >
    </div>
    
</div>


<div class="row pt-2">

    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[3].casillas[0].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[3].casillas[1].valor"   >
    </div>
    <div class="col border-end">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[3].casillas[2].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[4].casillas[0].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[4].casillas[1].valor"   >
    </div>
    <div class="col border-end">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[4].casillas[2].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[5].casillas[0].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[5].casillas[1].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[5].casillas[2].valor"   >
    </div>
    
</div>

<div class="row">

    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[3].casillas[3].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[3].casillas[4].valor"   >
    </div>
    <div class="col border-end">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[3].casillas[5].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[4].casillas[3].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[4].casillas[4].valor"   >
    </div>
    <div class="col border-end">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[4].casillas[5].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[5].casillas[3].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[5].casillas[4].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[5].casillas[5].valor"   >
    </div>
    
</div>

<div class="row border-bottom pb-2">

    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[3].casillas[6].valor"   >
    </div>
    <div class="col ">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[3].casillas[7].valor"   >
    </div>
    <div class="col border-end ">
        <input class="form-control " type="number" [(ngModel)]="this.miSudoku.zonas[3].casillas[8].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[4].casillas[6].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[4].casillas[7].valor"   >
    </div>
    <div class="col border-end">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[4].casillas[8].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[5].casillas[6].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[5].casillas[7].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[5].casillas[8].valor"   >
    </div>
    
</div>


<div class="row pt-2">

    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[6].casillas[0].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[6].casillas[1].valor"   >
    </div>
    <div class="col border-end">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[6].casillas[2].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[7].casillas[0].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[7].casillas[1].valor"   >
    </div>
    <div class="col border-end">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[7].casillas[2].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[8].casillas[0].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[8].casillas[1].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[8].casillas[2].valor"   >
    </div>
    
</div>

<div class="row ">

    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[6].casillas[3].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[6].casillas[4].valor"   >
    </div>
    <div class="col border-end">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[6].casillas[5].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[7].casillas[3].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[7].casillas[4].valor"   >
    </div>
    <div class="col border-end">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[7].casillas[5].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[8].casillas[3].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[8].casillas[4].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[8].casillas[5].valor"   >
    </div>
    
</div>

<div class="row">

    <div class="col border-bottom">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[6].casillas[6].valor"   >
    </div>
    <div class="col border-bottom">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[6].casillas[7].valor"   >
    </div>
    <div class="col border-end border-bottom">
        <input class="form-control " type="number" [(ngModel)]="this.miSudoku.zonas[6].casillas[8].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[7].casillas[6].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[7].casillas[7].valor"   >
    </div>
    <div class="col border-end">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[7].casillas[8].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[8].casillas[6].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[8].casillas[7].valor"   >
    </div>
    <div class="col">
        <input class="form-control" type="number" [(ngModel)]="this.miSudoku.zonas[8].casillas[8].valor"   >
    </div>
    
</div>

<!-- <pre>{{ miSudoku |json  }}</pre> -->
