<h2>Ejercicoo 3 - Sudoku</h2>
<p>3. Dado un tablero de sudoku 9 cuadrantes y cada cuadrante es de 3x3, se reciben las "posibles
  soluciones", se ocupa saber si la solución que se recibe es la solución
  Para esto se hace uso de la regla del sudoku,
  donde solo se aceptan de 1 al 9,
  cada cuadrante de 3x3 no debe permitir números duplicados,
  cada fila en horizontal (pasando 3 cuadrantes, 3 unidades por cada cuadrante) no debe permitir 
  números duplicados
  cada fila en vertical (pasando 3 cuadrantes, 3 unidades por cada cuadrante) no debe permitir 
  números duplicados
  Elaborar un algoritmo que reciba los datos mencionados y que diga Si o No esta armado correctamente</p>


<app-sudokutable></app-sudokutable>







